/* App.css */

.App {
  background-image: url('./img/img.png');
  background-size: cover; /* Ajuster la taille de l'image pour couvrir complètement le conteneur */
  height:2200px; /* Hauteur à 100% de la vue du navigateur, ajustez selon vos besoins */
  color: #fff; /* Couleur du texte pour améliorer la lisibilité sur l'image */
  background-position: center;
  
  /* Autres styles selon vos besoins */
}

/* Ajoutez d'autres styles au besoin pour les éléments enfants de app-container */
