
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajuste la hauteur de la boîte pour occuper 100% de la hauteur de l'écran */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 8px 0;
  }
  